.App {
  text-align: center;
}

.Cell {
  height: 100px;
  width: 100px;
  border: grey solid thin;
  display: inline-block;
  vertical-align: middle;
  line-height: 100px;
  font-size: 80px;
}

.NextTurn {
  font-size: 30px;
}

.Moves {
  /*list-style-type: decimal;*/
  display: inline-block;
  width: 100px;
}

.Moves > li {
  text-align: left;
}

.Board {
  width: 306px;
  margin: 40px;
  display: inline-block;
}

button {
     background:none!important;
     color: #0645AD;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #0645AD; 
     cursor: pointer;
}